body {
	margin:0;
	padding:0;
	overflow:hidden;
}

div#container {
	float:left;
	width:100%;
	height:100%;
	background-color:#f0f0f0;
}

div#upper_left,
div#upper_right,
div#lower_left,
div#lower_right {
	float:left;
	width:50%;
	height:50%;
	cursor:pointer;
	background-repeat:no-repeat;
}

div#upper_left {
	background-color:#03b8ff;
	background-image:url(../images/arrow_home.png);
	background-position:bottom right;
}

div#upper_right {
	background-color:#00a7fb;
	background-image:url(../images/arrow_up.png);
	background-position:bottom left;
}

div#lower_left {
	background-color:#0072aa;
	background-image:url(../images/arrow_enter.png);
	background-position:top right;
}

div#lower_right {
	background-color:#008dd3;
	background-image:url(../images/arrow_down.png);
	background-position:top left;
}

div#jplayer_controls {
	display:none;
}